<!-- Hero section -->
 <section id="hero">
    <h1>Welcome to CSE Motors!</h1>
    <picture class="hero-picture">
        <source media="(min-width: 1024px)" srcset="/images/vehicles/delorean.jpg">
        <img src="/images/vehicles/delorean-tn.jpg" alt="">
    </picture>
    <div id="call-to-action">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders Superman doors Fuzzy dice!</p>
        <a href="#">Own Today</a>
    </div>
 </section>
